.size-lg{
  width: 180px;
  max-width: 180px;
}
.size-md{
  width: 120px;
  max-width: 120px;
}
.size-sm{
  width: 90px;
  max-width: 90px;
}
.size-xs{
  width: 60px;
  max-width: 60px;
}

.size-300{
  width: 300px;
  max-width: 300px;
}