//side menu
$global-side-menu-bg: #241917;
$global-side-menu-item-bg: lighten($global-side-menu-bg,20%);
$global-side-menu-item-icon-bg: lighten($global-side-menu-bg,80%);
$global-side-menu-item-color: $global-side-menu-bg;
$global-side-menu-item-link-color: #fff;
$global-side-menu-width: 200px;
$global-side-menu-item-border-radius: $border-radius-base !default;
$global-side-menu-item-height: 44px;
$global-side-menu-item-padding: 4px;
$global-side-menu-item-icon-size: $global-side-menu-item-height - $global-side-menu-item-padding * 2;
.global-side-menu {
  background-color: $global-side-menu-bg;
  width: $global-side-menu-width;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: absolute;
  .side-menu-list{
    padding: 8px;
    width: 100%;
    list-style-type: none;
    .side-menu-item{
      background-color: $global-side-menu-item-bg;
      height: $global-side-menu-item-height;
      vertical-align: middle;
      display: table;
      width: 100%;
      margin-bottom: 8px;
      border: 1px solid transparent;
      border-radius: $global-side-menu-item-border-radius;
      a{
        display:table-cell;
        height: $global-side-menu-item-height;
        width: inherit;
        vertical-align: middle;
        text-decoration: none;
        font-size: 18px;
        color: $global-side-menu-item-link-color;
        &:hover{
          opacity: .4;
          @include transition(all 0.2s ease-in-out);
        }
      }
      .badge{
        float: right;
        display:table-cell;
        vertical-align: middle;
      }
      .item-icon{
        font-size: 24px;
        background-color: $global-side-menu-item-icon-bg;
        color: $global-side-menu-item-color;
        border-radius: $global-side-menu-item-border-radius;
        width: $global-side-menu-item-icon-size;
        height: $global-side-menu-item-icon-size;
        margin-left: $global-side-menu-item-padding;
        padding-top: $global-side-menu-item-padding * 2 - 1px;
        text-align: center;
        margin-right: 8px;
      }
    }
  }
}

//top menu
$global-top-menu-bg: #fff;
$global-top-height: 55px;
$global-logo-padding-left: 26px;
.global-top-menu {
  padding: 5px;
  min-height: $global-top-height;
  background-color: $global-top-menu-bg;
  width: 100%;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, .1));
  .logo{
    padding-left: $global-logo-padding-left;
  }
  .sub-menu .btn {
    font-size: 24px;
    border: none;
  }
  .center-menu{
    padding-top: 6px;
    .input-group-addon{
      background-color: $global-top-menu-bg;
    }
  }
}

//content
$main-body-content-padding: 16px;
$main-body-separate-boder: $gray-lighter;
$main-top-content-bg: lighten($global-side-menu-bg,90%);
$main-top-content-margin-top: 16px;
$main-top-content-nav-item-border: $brand-primary;
.main-content{
  margin-left: $global-side-menu-width;
  .main-top-content{
    background-color: $main-top-content-bg;
    padding-top: $main-top-content-margin-top;
    .nav-tabs{
      > li{
        margin-bottom: 0;
        a{
          background: none;
          border: none;
          &:hover,&:active,&:focus{
            background: none;
            border: none;
          }
        }
        &.active a{
          border-bottom:4px solid $main-top-content-nav-item-border;
        }
      }
    }
  }
  .main-body-content{
    padding: $main-body-content-padding;
    .separate-border{
      border-right: 1px solid $main-body-separate-boder;
    }
  }
  .page-header{
    margin-top: 0;
    padding-top: 12px;
  }
}
