a {
  outline: none !important;
}

body {
  background: #fcfcfc;
}

.main {
  min-height: 100%;
  .main-content {
    min-height: 100%;
  }
}

.panel {
  border: none;
  &.panel-default {
    .panel-heading {
      border-bottom-style: dotted;
      background: #fff;
    }
  }
}